<div id="page" class="referEarn">
    <div class="topMenu">
        <ul :style="{'--type':topNum + 1}" :class="{'full' : topNum == 3}">
            <li v-for="(item,index) in topMenu" :key="index" 
            @click="topNum = index">{{item.txt}}</li>
        </ul>
    </div>
    <div class="referContent">
        <div class="referMenu">
            <ul>
                <li v-for="(item,index) in sideMenu" :key="index" 
                @click="sideNum = index,clearList()" :class="{'on':sideNum == index}">{{item.txt}}</li>
            </ul>
        </div>
        <div class="referShow">
            <!-- userMsg -->
            <div class="userMsg">
                <div class="inner">
                    <div class="avatar">
                        <div class="frame">
                            <div class="pic">
                                <img src="images/user/photo.webp" v-if="getlogin()">
                                <img src="images/user/default.webp" v-if="!getlogin()">
                            </div>  
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">{{!getlogin()? 'Visitor' : 'Senangkaya'}}</div>
                        <div class="grade" v-if="getlogin()">VIP</div>
                    </div>
                </div>    
            </div>
            
            <!-- intBox >>Profile Details -->
            <div class="intBox" v-if="sideNum == 0">
                <label>
                    <p>Full Name</p>
                    <input type="text">
                </label>
                <label>
                    <p>Date of Birth</p>
                    <input type="text">
                </label>
                <label>
                    <p>Email</p>
                    <input type="email">
                </label>
                <label>
                    <p>Contact Number</p>
                    <input type="text">
                </label>
                <label class="full">
                    <p>Address</p>
                    <input type="text">
                </label>
                
                <div class="btn">Sumit</div>
            </div>
            <!-- intBox >> Bank Details -->
            <div class="intBox" v-if="sideNum == 1">
                <label>
                    <p>Bank Name</p>
                    <select>
                        <option v-for="(item,index) in bankSel" :key="index" value="index">{{item}}</option>
                    </select>
                </label>
                <label>
                    <p>Date</p>
                    <input type="text">
                </label>
                <label>
                    <p>Account Name</p>
                    <input type="text">
                </label>
                <label>
                    <p>Account Number</p>
                    <input type="text">
                </label>
              
                <div class="btn" @click="addBank()">Add</div>
            </div>

            <!-- bankOptions -->
            <div class="bankOptions"  v-if="sideNum == 1">
                <div class="title">Bank Options</div>
                <div class="list">
                    <table>
                        <tr>
                            <th width="25%">BANK NAME</th>
                            <th width="25%">ACCOUNT</th>
                            <th width="25%">PERSONAL NAME</th>
                            <th width="25%">DATE</th>
                        </tr>  
                        <!-- no data -->
                        <tr v-if="bankList.length == 0" class="noData">
                            <td colspan="4">NO RESULT FOUND</td>
                        </tr>
                        <!-- list -->
                        <tr v-for="(item,index) in bankList" :key="index">
                            <td><span>ANK NAME</span>{{item.bank}}</td>
                            <td><span>ACCOUNT</span>{{item.number}}</td>
                            <td><span>PERSONAL NAME</span>{{item.name}}</td>
                            <td><span>DATE</span>{{item.time}}</td>
                        </tr>                       
                    </table>
                </div>
            </div>
 
            <!-- referral -->
            <div class="referral" v-if="sideNum == 2">
                <div class="item">
                    <div class="title">Your Referral Status</div>
                    <div class="tip">
                        <p><span>Share your favorite offers to your friends!</span> Both of you get Bonus when your friend sign up using your code below.</p>
                    </div>

                    <div class="iptShare">
                        <input type="text">
                        <div class="btn" @click="addFriend()">Share</div>
                    </div>

                    <div class="tip">
                        <p>Share your favorite offers to your friends!</p>
                        <p>Mission Completed : <span>0</span></p>
                        <p>Invitation Accepted : <span>0</span></p>
                    </div>
                </div>

                <div class="item">
                    <div class="title tb">Friend Deposit Rewards</div>
                    <div class="friendList">
                        <table>
                            <tr>
                                <th class="num">#</th>  
                                <th width="25%">MEMBER</th>
                                <th width="25%">DATE</th>
                                <th width="25%">TOTAL</th>
                                <th width="25%">DEPOSIT</th>
                                <th></th>   
                            </tr>
                            <!-- no data -->
                            <tr class="noData" v-if="friendList.length == 0">
                                <td colspan="6">NO RESULT FOUND</td>
                            </tr>
                            <!-- list -->
                            <tr v-for="(item,index) in friendList" :key="index">
                                <td>{{index + 1}}</td>
                                <td><span>MEMBER</span>{{item.name}}</td>
                                <td><span>DATE</span>{{item.time}}</td>
                                <td><span>TOTAL</span>{{item.total}}</td>
                                <td><span>DEPOSIT</span>{{item.deposit}}</td>
                                <td><div class="btn">Claim</div></td>
                            </tr>   
                        </table>
                    </div>
                </div>

                <div class="item">
                    <div class="title">Transaction Date</div>
                    <div class="articles">
                        <ul class="main">
                            <li>Share your Refer QR Code or Refer Link to your friends to register as our member and earn rewards when they play in ZUES.</li>
                            <li>
                                Refer and Earn rewards as below:
                                <div class="second">
                                    <div class="bold">Downline Deposit Reward</div>
                                    <p>You are entitled to claim rewards as below when your downline reached deposit requirements as below:</p>

                                    <div class="rewardList">
                                        <table>
                                            <tr>
                                                <th>Total Demand</th>
                                                <th>MYR 100</th>
                                                <th>MYR 300</th>
                                                <th>MYR 600</th>
                                            </tr>
                                            <tr>
                                                <td>Reward</td>
                                                <td>MYR 5</td>
                                                <td>MYR 10</td>
                                                <td>MYR 15</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <p>Members are required to self-claim these rewards in ZUES Refer and Earn page.</p>
                                </div>
                                <div class="second">
                                    <div class="bold">Downline Profit Sharing</div>
                                    <p>You are entitled to lifetime profit sharing of 5% from all your downline total losses.</p>
                                    <p>Members are required to self-claim these rewards in ZUES Refer and Earn page.</p>
                                    <p>Profit sharing system will automatically update daily at 4.00 pm.</p>
                                    <p>In situation if your daily Downline Win/Loss resulted in Win, the negative (-) amount of Daily Profit Sharing will be carried forward to the next day.</p>
                                    <p>Profit sharing system will automatically payout the profit if the Up-To-Date Profit reached minimum of positive (+) MYR 5.</p>
                                    <p>The Daily Win/Lose will be deducted out all bonuses, rebates, cashbacks taken by downlines before the system calculate the profit sharing.</p>
                                    <p>This profit sharing is capped at maximum winning of MYR 3,000 at any games. Extra balance will be forfeited after withdrawal.</p>
                                </div>
                            </li>
                            <li>This promotion is restricted to only ONE single free account per individual, household address, email address, telephone number, bank account and IP address.</li>
                            <li>We reserve the right to amend or terminate this promotion at any time, either for all players or a group/syndicate member at any time and at our sole and absolute discretion.</li>
                            <li>All ZUES General Term & Condition apply.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                topNum:0,
                topMenu:[
                    {txt:'My Profile'},
                    {txt:'Deposit'},
                    {txt:'Withdraw'},
                    {txt:'History'}
                ],
                sideNum:0,
                sideMenu:[
                    {txt:'Profile Details'},
                    {txt:'Bank Details'},
                    {txt:'Referral'},
                    {txt:'Profit Sharing'},
                    {txt:'Change Password'},
                ],
                bankList:[],
                name: ['Tony','Eric','Jack','Kenny','Roy'],
                bankSel:['CHUNG SHING','COSMOS','SINO-PAC','E.SUN','GRAND COMMERCIAL'],
                friendList:[]
            };
        },
        methods: {
            getlogin() {
                return indexVue.islogin;
            },
            clearList(){
                this.bankList = [];
                this.friendList = [];
            },
            addBank(){
                let number = '';
                for(let i = 0 ;i <= 10 ; i++){
                    number += parseInt(Math.random()*10);
                }

                let time = new Date();
                let yy = time.getFullYear();
                let mm = String(time.getMonth() + 1).padStart(2,"0");
                let dd = String(time.getDate()).padStart(2,"0");

                let data = {
                    bank:this.bankSel[parseInt(Math.random()*this.bankSel.length)],
                    name:this.name[parseInt(Math.random()*this.name.length)],
                    number:number,
                    time:`${mm}/${dd}/${yy}`,
                }

                this.bankList.push(data);
            },   
            addFriend(){
                let time = new Date();
                let yy = time.getFullYear();
                let mm = String(time.getMonth() + 1).padStart(2,"0");
                let dd = String(time.getDate()).padStart(2,"0");

                let total = (Math.random()*1000 + 200).toFixed(2);
                let deposit = (Math.random()*100 + 100).toFixed(2);
        
                let data = {
                    name:this.name[parseInt(Math.random()*this.name.length)],
                    time:`${mm}/${dd}/${yy}`,
                    total: total,
                    deposit: deposit
                }

                this.friendList.push(data);
            }
        },
        mounted() {
            let urlString = window.location.hash.slice(1);
            let url = new URL(urlString, window.location.origin);
            let queryString  = url.search.slice(1);
            let searchParams = new URLSearchParams(queryString);
            let queryParams = {};
            searchParams.forEach((value, key) => {
                queryParams[key] = value;
            });
            this.topNum = Number(queryParams['type']);
        },
    }).mount("#page");
</script>